Package: com.AKiiimFrankyN0uva.CallBar0.3-14
Name: CallBar X (Việt Hoá)
Version: 0.3-14
Architecture: iphoneos-arm
Description:iSPEAs - Biệt Hội Jailbreaker!!!!!!!!!!!!!!! xoá mọi bản cũ, k cần cracktool3! Thank Mr.Khuê
Maintainer: A Kiiim FrankyNouva 🇻🇳🇻🇳🇻🇳 <FrankyNouva@gmail.com>
Depiction: https://frankynouva.github.io/depic/CallBar0.3-14.html
Author: Elias Limneos, cracked by Khuê <limneoselias@gmail.com>
Section: IOS 11.3.1
Depends: mobilesubstrate, preferenceloader, com.akiiimfrankynouva.akiiimfrankynouva1.0
