/* Reactions Css */
.reactions {
    grid-column: 4 / 11;
    grid-row: 9 / 11;
    overflow: hidden;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600
}

.reaction-item {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    grid-column-gap: 10px;
}

.reaction-item img {
    width: 100%;
}