/* App CSS */
* {
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  background: #000 url('assets/images/LiveStream.png');
  background-size: cover;
  overflow: hidden;
}

.main-content  {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 50px;
  grid-template-rows: repeat(10, 1fr);
  height: 90vh;
  padding: 2.7rem 2.7rem 2rem 1.9rem;
}