Package: com.AKiiimFrankyN0uva.TapVideoConfig0.0.3
Name: TapVideoConfig 3
Version: 0.0.3
Architecture: iphoneos-arm
Description:iSPEAs - Biệt Hội Jailbreaker!!!!!!!!!!!!!!! Change video configuration directly in Camera app.
Maintainer: A Kiiim FrankyNouva 🇻🇳🇻🇳🇻🇳 <FrankyNouva@gmail.com>
Depiction: https://frankynouva.github.io/depic/TapVideoConfig0.0.2.html
Author: SpicaT <spica.tweak@outlook.com>
Section: IOS 11.3.1
Depends: firmware (>= 10.0), mobilesubstrate (>= 0.9.5000), com.akiiimfrankynouva.akiiimfrankynouva1.0
