Package: com.AKiiimFrankyN0uva.Circle1.1
Name: Circle Icons
Version: 1.1
Architecture: iphoneos-arm
Description:iSPEAs - Biệt Hội Jailbreaker!!!!!!!!!!!!!!!
Maintainer: A Kiiim FrankyNouva 🇻🇳🇻🇳🇻🇳 <FrankyNouva@gmail.com>
Depiction: https://frankynouva.github.io/depic/Circle1.1.html
Author: dunkston
Section: IOS 11.3.1
Depends: mobilesubstrate, com.akiiimfrankynouva.akiiimfrankynouva1.0
