Package: com.akiiimfrankyn0uva.akiiimfrankyn0uva1.0
Version: 4.1.6
Section: System
Essential: yes
Maintainer: A Kiiim FrankyNouva 🇻🇳🇻🇳🇻🇳 <FrankyNouva@gmail.com>
Description: Franky Nouva iCon Pack
Architecture: iphoneos-arm
Name: Kiiim Repo Icons
Author: Franky Nouva <frankynouva@gmail.com>
Depiction: https://frankynouva.github.io/depic/IconRepo.html
Icon: file:///Applications/Cydia.app/Sections/Tw3ak.png

