Package: com.akiiimfrankyn0uva.akiiimfrankyn0uva1.0
Version: 4.1.5
Section: System
Essential: yes
Maintainer: Jailbr3aker Special Team
Description: Franky Nouva iCon Pack
Architecture: iphoneos-arm
Name: Kiiim Repo Icons
Author: FrankyNouva
Depiction: https://frankynouva.github.io/depic/IconRepo.html
Icon: file:///Applications/Cydia.app/Sections/Tw3ak.png
